<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <style>
        #header {
            background-color: black;
            color: white;
            text-align: center;
            height: 100px;
            padding: 5px;
        }

        #content {
            margin: 100px auto;
            background-color: white;
            background-size: 272px 92px;
            height: 300px;
            width: 100%;
        }

        #login_form {
            margin: 0 auto;
            text-align: center;
        }

    </style>

</head>
<body>

<div id="header"><h1> 登 录 </h1></div>


<div id="content">
    <form name="login" id="login_form" method="post">


        账号: <input name="user_name" type="text" align="center"><br>
        <br>
        密码: <input name="user_password" type="password" align="center"><br>
        <br>
        <button type="submit">登录</button>


    </form>
</div>

</body>
</html>